@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container{
    background-image: url('./img/background\ \(1\).jpg');
    padding-bottom: 37px;
}

@media only screen and (max-width: 820px) {
    .container{
        padding-bottom: 83px;
        background-size: cover;
    }

}

.button{
    margin-top: 10px;
    margin-left: -801px;
}

@media only screen and (max-width: 820px) {
    .button{
        margin-left: -673px;
    }

}

.name{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.divCard{
    background-image: url('./img/fundo-da-textura-da-folha-de-ouro-80003060.jpg');
    width: 384px;
    height: 624px;
    border-radius: 20px;
    margin-left: 465px;
    padding: 1px;
    margin-top: -44px;
}

@media only screen and (max-width: 820px) {
    .divCard{
        
        width: 553px;
        height: 1062px;
        margin-left: 140px;
        margin-top: -8px;
    }

}

.aux{
    background-image: url('./img/fondo-acuarela-amarillo_1108-97.jpg');
    margin: 10px;
    height: 589px;
}

@media only screen and (max-width: 820px) {
    .aux{
        height: 96%;
    }
}

.divImg{
    background-color: white;
    width: 95%;
    margin: 10px;
    margin-top: -20px;
    height: 290px;
}

@media only screen and (max-width: 820px) {
    .divImg{
        height: 431px;
    }
}

.img{
    width: 60%;
    height: inherit;
    
}

.id{
    margin-top: -21px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    height: 23px;
    margin: -15px;

}

@media only screen and (max-width: 820px) {
    .id{
        font-size: 36px;
    }
}

.divId{
    margin-left: 10px;
    background-color: white;
    width: 346px;
}

@media only screen and (max-width: 820px) {
    .divId{
        width: 506px;
    }
}

.divTypes{
    margin-top: -11px;
}

.types{
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 820px) {
    .types{
        font-size: 26px;
    }
}

.attackI{
    margin-left: -260px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -6px;
}

@media only screen and (max-width: 820px) {
    .attackI{
        font-size: 25px;
    }
}

.attackII{
    font-family: 'Varela Round', sans-serif;
    margin-top: -28px;
    margin-left: 262px;
    
}

@media only screen and (max-width: 820px) {
    .attackII{
        margin-top: -59px;
    }
}

.defenseI{
    margin-left: -253px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -19px;
}

@media only screen and (max-width: 820px) {
    .defenseI{
        font-size: 25px;
    }
}

.defenseII{
    font-family: 'Varela Round', sans-serif;
    margin-top: -30px;
    margin-left: 262px;
}

@media only screen and (max-width: 820px) {
    .defenseII{
        margin-top: -60px;
    }
}

.hp{
    font-family: 'Varela Round', sans-serif;
    margin-top: -67px;
    color: red;
    font-weight: 700;
}

@media only screen and (max-width: 820px) {
    .hp{
        font-size: 21px;
    }
}

.divHp{
    background-color: white;
    padding-bottom: 25.5px;
    width: 72px;
    margin-left: 284px;
    height: 54px;
    border-radius: 8px;
}

@media only screen and (max-width: 820px) {
    .divHp{
        margin-left: 444px;
    }
}

.speedI{
    margin-left: -264px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -16px;
}

@media only screen and (max-width: 820px) {
    .speedI{
        font-size: 25px;
    }
}

.speedII{
    font-family: 'Varela Round', sans-serif;
    margin-top: -31px;
    margin-left: 262px;
}

@media only screen and (max-width: 820px) {
    .speedII{
        margin-top: -60px;
    }
}

.heightI{
    margin-left: -263px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -15px;
}

@media only screen and (max-width: 820px) {
    .heightI{
        font-size: 25px;
    }
}

.heightII{
    font-family: 'Varela Round', sans-serif;
    margin-top: -31px;
    margin-left: 262px;
}

@media only screen and (max-width: 820px) {
    .heightII{
        margin-top: -60px;
    }
}

.weightI{
    margin-left: -260px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: -13px;
}

@media only screen and (max-width: 820px) {
    .weightI{
        font-size: 25px;
    }
}

.weightII{
    font-family: 'Varela Round', sans-serif;
    margin-top: -31px;
    margin-left: 262px;
}

@media only screen and (max-width: 820px) {
    .weightII{
        margin-top: -60px;
    }
}

.line{
    border-bottom: black solid 1px;
    width: 300px;
    display: inline-flex;
    margin-bottom: 33px;
}

@media only screen and (max-width: 820px) {
    .line{
        width: 452px;
        border-bottom: black solid 2px;
        margin-top: -23px;
    }
}

.estadistics{
    margin-top: -31px;
}

@media only screen and (max-width: 820px) {
    .estadistics{
        font-size: 31px;
    }
}