@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.container{
    background-color: #E56B1F;
    height: 79px;
    position: relative;
    
}

.img{
    height: 100%;
    
} 

.divImg{
    display: flex;
    height: 107%;
    margin-left: 10px;
    float: left;
}

.create{
    border: none;
    background-color: #FFCC01;
    height: 44px;
    width: 171px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans', sans-serif;
    pointer-events: all;
}

.create:hover{
    background-color: white;
    -webkit-transform:scale(1.05);transform:scale(1.05);
}

.divCreate{
    float: left;
    margin: 16px;
    margin-left: 52px;
}

.divSelectors{
    float: left;
    margin: 16px;
    margin-left: 239px
}

option{
    font-family:'Open Sans', sans-serif ;
    font-size: 15px;
    background-color: white;
}

select{
    height: 44px;
    font-family:'Open Sans', sans-serif ;
    font-size: 15px;
    border:white;
    background: #FFCC01;
    align-items: center;
    text-align: unset;
}

select:hover{
    background-color: white;
}

.selectOne{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.selectTree{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchBar{
    float: left;
    margin: 13px;
    margin-left: 80px;
}