@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.container{
    background-color: yellow;
    width: 21%;
    height: 349px;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
    display: inline-block;;
    align-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.container:hover  {-webkit-transform:scale(1.05);transform:scale(1.05);}


.link{
    text-decoration: none;
}

.name{
    font-family: 'Be Vietnam Pro', sans-serif;
    text-transform: uppercase;
    color: black;
    margin-bottom: auto;
    
}

.image{
    background-color: white;
    width: 95%;
    margin-left: 7px;
    height: 190px;
    
}

.type{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: unset;
    margin-left: -195px;
    font-weight: 600;
    color: black;
}

.types{
    font-family: 'Open Sans', sans-serif;
    margin: unset;
    font-weight: 600;
    padding: 4px;
    color: black;
}

.img{
    width: 75%;
    height: inherit;
}